@import '@fontsource/fira-mono';
@import 'tailwindcss';

@theme {
	--background-image-main-gradient: linear-gradient(
		8deg,
		rgba(59, 10, 64, 1) 0%,
		rgba(144, 45, 168, 1) 50%,
		rgba(23, 135, 103, 1) 100%
	);
}

@layer components {
	.bg-glass {
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(8px);
	}
}
