{
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@src/*": ["src/*"],
      "@app/*": ["src/app/*"],
      "@common/*": ["src/common/*"],
      "@decorators/*": ["src/common/decorators/*"],
      "@guards/*": ["src/common/guards/*"],
      "@interceptors/*": ["src/common/interceptors/*"],
      "@modules/*": ["src/modules/*"],
      "@auth/*": ["src/modules/auth/*"],
      "@characters/*": ["src/modules/characters/*"],
      "@teams/*": ["src/modules/teams/*"],
      "@inventories/*": ["src/modules/inventories/*"],
      "@users/*": ["src/modules/users/*"],
      "@mail/*": ["src/modules/mail/*"],
      "@shared": ["../shared/dist/index.js"]
    }
  }
}
